.button-style-desktop {
  padding: 10px 10%;
  font-size: 1.8rem;
  border-radius: 10px;
}
.button-gradient {
  background-image: linear-gradient(to right, #fcf4da 0%, #F2AC29 51%, #ef0d0d 100%);
}
.button-hover {
  background-image: linear-gradient(to right, #ef0d0d 0%, #F2AC29 51%, #fcf4da 100%);
  background-position: right center;
}
.nav-text {
  margin: 10px 3%;
  padding-right: 10%;
  white-space: nowrap;
  font-size: 20px;
  font-family: "Cabin";
  text-decoration: none;
  color: #BF0A0A;
  text-shadow: black;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lalezar', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #F2C84B;
  padding: 20px;
}
header nav {
  display: flex;
  padding-right: 3%;
}
header nav a {
  margin: 10px 3%;
  padding-right: 10%;
  white-space: nowrap;
  font-size: 20px;
  font-family: "Cabin";
  text-decoration: none;
  color: #BF0A0A;
  text-shadow: black;
}
@media (max-width:500px) {
  header {
    padding: 0px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  header h1 {
    font-size: 3 rem;
    padding-top: 10px;
  }
  header nav {
    justify-content: center;
    padding: 0px;
    padding-left: 30px;
    margin: 0px;
    margin-top: 10px;
  }
}
.footer-content {
  padding: 30px;
  background-color: #F2C84B;
  display: flex;
  justify-content: flex-start;
}
.footer-content h1 {
  width: 40%;
}
.footer-content nav {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.footer-content nav a {
  margin: 10px 3%;
  padding-right: 10%;
  white-space: nowrap;
  font-size: 20px;
  font-family: "Cabin";
  text-decoration: none;
  color: #BF0A0A;
  text-shadow: black;
  padding-right: 2%;
}
@media (max-width:800px) {
  .footer-content {
    padding: 20px 0;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .footer-content nav {
    width: 100%;
    justify-content: center;
  }
  .footer-content h1 {
    text-align: center;
    font-size: 3rem;
    padding: 10px 0;
  }
}
.index-page-container {
  margin: 0px auto;
  width: 100%;
  background-color: white;
}
.index-page-container .top-banner {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  border-bottom: 1px solid black;
  background-image: url(../image/top-banner.jpg);
  background-color: #f6f6ff;
  background-size: 95%;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.index-page-container .top-banner img {
  visibility: hidden;
  width: 3%;
}
.index-page-container .top-banner .top-text {
  width: 28%;
  margin: 30px;
  padding: 100px 20px;
  border-radius: 10px;
}
.index-page-container .top-banner .top-text h2 {
  margin: 30px auto;
  font-size: 2.4rem;
}
.index-page-container .top-banner .top-text a {
  text-decoration: none;
  color: black;
}
.index-page-container .top-banner .top-text a button {
  padding: 10px 10%;
  font-size: 1.8rem;
  border-radius: 10px;
  background-image: linear-gradient(to right, #fcf4da 0%, #F2AC29 51%, #ef0d0d 100%);
}
.index-page-container .top-banner .top-text a button:hover {
  background-image: linear-gradient(to right, #ef0d0d 0%, #F2AC29 51%, #fcf4da 100%);
  background-position: right center;
  cursor: pointer;
}
.index-page-container .middle-content {
  width: 100%;
  padding: 20px auto;
  text-align: center;
  border-bottom: 1px solid black;
}
.index-page-container .middle-content a {
  text-decoration: none;
}
.index-page-container .middle-content h2 {
  padding-top: 20px;
  color: black;
}
.index-page-container .middle-content h2:hover {
  color: #BF0A0A;
}
.index-page-container .middle-content .middle-content-reason {
  display: flex;
  justify-content: space-between;
}
.index-page-container .middle-content .middle-content-reason .reason-box {
  padding: 13px;
  margin: 5px;
}
.index-page-container .middle-content .middle-content-reason .reason-box h3 {
  font-size: 2.6rem;
  margin: 15px 0;
}
.index-page-container .middle-content .middle-content-reason .reason-box p {
  text-align: left;
}
.index-page-container .bottom-banner {
  text-align: center;
  margin: 10px 0;
  margin-bottom: 50px;
}
.index-page-container .bottom-banner h2 {
  margin: 10px auto;
  line-height: 1.8;
}
.index-page-container .bottom-banner button {
  padding: 10px 10%;
  font-size: 1.8rem;
  border-radius: 10px;
  background-image: linear-gradient(to right, #fcf4da 0%, #F2AC29 51%, #ef0d0d 100%);
}
.index-page-container .bottom-banner button a {
  text-decoration: none;
  color: black;
}
.index-page-container .bottom-banner button:hover {
  background-image: linear-gradient(to right, #ef0d0d 0%, #F2AC29 51%, #fcf4da 100%);
  background-position: right center;
}
.about-page-container {
  margin: 0px auto;
  width: 100%;
}
.about-page-container .top-banner {
  display: flex;
}
.about-page-container .top-banner img {
  width: 50%;
  padding: 2%;
}
.about-page-container .top-banner .team-msg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 5%;
}
.about-page-container .top-banner .team-msg .quote {
  font-size: 3rem;
  font-family: "Lobster";
  color: #5e0505;
}
.about-page-container .top-banner .team-msg .quote:hover {
  color: #BF0A0A;
}
.about-page-container .top-banner .team-msg .describe {
  font-family: "Cabin";
  font-size: 2rem;
  color: black;
}
.about-page-container .top-banner .team-msg a {
  text-decoration: none;
}
.about-page-container .top-banner .team-msg a .describe:hover {
  color: #BF0A0A;
}
.middle-content {
  margin: 0px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.middle-content h1 {
  text-align: center;
  padding: 20px;
}
.middle-content .team-member-info {
  display: flex;
}
.middle-content .team-member-info .person {
  padding: 20px;
  margin: 20px 5%;
  border: 3px dotted #BF0A0A;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.middle-content .team-member-info .person img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}
.middle-content .team-member-info .person h2 {
  font-size: 1.6rem;
  margin-top: 10px;
}
.middle-content .team-member-info .person a img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
@media (max-width:800px) {
  .index-page-container .top-banner {
    background-image: none;
  }
  .index-page-container .top-banner img {
    visibility: visible;
    width: 75%;
  }
  .index-page-container .top-banner .top-text {
    margin-left: 0px;
  }
  .index-page-container .top-banner .top-text h1 {
    font-size: 3.2rem;
  }
  .index-page-container .top-banner .top-text h2 {
    font-size: 2.6rem;
  }
}
@media (max-width:500px) {
  .index-page-container .top-banner {
    flex-direction: column;
    background-image: none;
    justify-content: center;
    border-bottom: 2px dashed #BF800B;
    background-color: white;
  }
  .index-page-container .top-banner img {
    visibility: visible;
    width: 100%;
    margin-bottom: 10px;
  }
  .index-page-container .top-banner .top-text {
    width: 100%;
    padding: 10px;
    margin: 0px;
    text-align: center;
  }
  .index-page-container .top-banner .top-text h1 {
    font-size: 3rem;
  }
  .index-page-container .top-banner .top-text h2 {
    font-size: 1.6rem;
    word-wrap: normal;
  }
  .index-page-container .top-banner .top-text button {
    margin: 5px 0;
  }
  .index-page-container .middle-content {
    margin: 0px;
  }
  .index-page-container .middle-content .middle-content-reason {
    flex-direction: column;
  }
  .index-page-container .bottom-banner {
    margin: 1%;
  }
  .index-page-container .bottom-banner button {
    margin: 2%;
  }
}
@media (max-width:800px) {
  .about-page-container .top-banner img {
    margin: 20px 0;
  }
  .about-page-container .middle-content .team-member-info {
    flex-flow: row wrap;
  }
  .about-page-container .middle-content .team-member-info .person {
    padding: 10px;
    margin: 10 px;
    width: 40%;
  }
}
@media (max-width:500px) {
  .about-page-container .top-banner {
    flex-direction: column;
    border-bottom: 2px dashed #BF800B;
  }
  .about-page-container .top-banner img {
    width: 100%;
  }
  .about-page-container .top-banner .team-msg {
    width: 100%;
  }
  .about-page-container .middle-content .team-member-info {
    flex-direction: row;
  }
}
